@model List<User>
@{
    ViewData["Title"] = "Kullanıcı Listesi";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<style>
    /* Şifre Güncelle - Premium Mavi Gradient */
    .btn-premium-info {
        background: #0000FF;
        color: #fff;
        border: none;
        transition: 0.3s;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }


    /* Profili Düzenle - Premium Yeşil Gradient */
    .btn-premium-success {
        background: #DC143C;
        color: #fff;
        border: none;
        transition: 0.3s;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }

</style>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Adınız</th>
        <th>Soyadınız</th>
        <th>Kullanıcı Adı</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Username</td>
            <td>
                <a href="/Setting/UserPassword/@item.UserId" class="btn btn-premium-info mb-1">Şifre Güncelle</a>
                <a href="/Setting/UpdateUser/@item.UserId" class="btn btn-premium-success">Profili Düzenle</a>
            </td>
        </tr>
    }
</table>