@model User
@{
    ViewData["Title"] = "Mevcut Şifre";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<!-- Hata mesajlarını göster -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<form method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />

    <div class="form-group">
        <label for="Password">Mevcut Şifre</label>
        <input type="password" class="form-control" name="Password" id="Password" value="" autocomplete="off" />
    </div>




    <button class="btn btn-outline-primary">Giriş</button>
</form>